/*.current-word {
	-webkit-transition: font-size 1s, opacity 1s;
	transition: font-size 1s, opacity 1s;
	margin-top: 2%;
	font-size: 2em;
}

.current-word-transition {
	font-size: 4em;
	opacity: 0;
	
}*/

* {
	font-family: 'Overpass Mono', monospace;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
	/*background-color: #f2f4f7;*/
	padding: 1%;
}

.game {
	height: 100%;
	width: 69%;
	display: inline-block;
	margin: 0 auto;
	position: relative;
}


.shuffle-board-button {
	font-size: 1em;
	transition: font-size .3s;
	-webkit-transition: font-size .3s;
}

.shuffle-board-button:hover {
	font-size: 1.5em;
	transition: font-size .3s;
	-webkit-transition: font-size .3s;

}

.reset-game-button {
	font-size: 1em;
	transition: font-size .3s;
	-webkit-transition: font-size .3s;
}

.reset-game-button:hover {
	font-size: 1.5em;
	transition: font-size .3s;
	-webkit-transition: font-size .3s;
}

.submit-word-button {
	height: 49%;
	width: 75%;
	margin: 0 auto;
	position: relative;
	text-align: center;
	font-size: 1.5em;
	margin-top: -80px;
	transition: font-size .3s, color .7s, background-color .7s;
	-webkit-transition: font-size .3s, color .7s, background-color .7s;
}

.submit-word-button:hover {
	font-size: 2em;
	transition: font-size .3s;
	-webkit-transition: font-size .3s;
}

.tile {
	font-size: 2em;
	transition: font-size .3s, font-weight .3s, color .7s, background-color .7s;
	-webkit-transition: font-size .3s, font-weight: .3s, color .7s, background-color .7s;
	width: 19%;
	height: 95%;
	min-height: 70px;
	min-width: 70px;
	max-height: 300px;
	max-width: 200px;
	border-radius: 5px;
	display: inline-block;
	position: relative;
	text-align: center;
	margin: .5%

}
.tile-clicked {

}

.tile:hover {
	font-size: 2.75em;
	transition: font-size .3s, font-weight: .3s;
	-webkit-transition: font-size .3s, font-weight: .3s;
	font-weight: bold;


}

.total-score {
	display: inline-block;
	font-size: 3em;
	position: relative;
	width: 35%;
	text-align: center;
	-webkit-transition: font-size 1s, color 1s;
	transition: font-size .5s, color .5s;
}
.total-score-transition {
	display: inline-block;
	font-size: 6em;
	position: relative;
	width: 35%;
	text-align: center;
	-webkit-transition: font-size 1s, color 1s;
	transition: font-size .5s, color .5s;
}

.total-score:hover {
	font-size: 6em;
	-webkit-transition: font-size 1s, color 1s;
	transition: font-size .5s, color .5s;
}

table { table-layout:fixed; }
td { 
	overflow:hidden;
	white-space:nowrap;
}
td:hover {
	font-size: 2em;
	overflow:visible;
} 